<% include ./partials/boilerplate.ejs %>


<div class="container">
  <h1>Updated!</h1>
  <form action="/allToDo/<%= allData.id%>" method="POST" accept-charset="utf-8">
      <input
        type="text"
        name="chore"
        placeholder="edit chore"
        value="<%= allData.chore %>" />
      <input
        type="text"
        name="description"
        placeholder="description"
        value="<%= allData.description %>"  />
      <input
        type="text"
        name="status"
        placeholder="status"
        value="<%= allData.status %>" />
      <input type="submit" value="Edit it!" />
</div>


<a href="/allToDo">Back to do list</a>


<% include ./partials/end.ejs %>
