<% include ./partials/boilerplate.ejs %>

<div class="container">
<h1>To-Do List</h1>

<h2>SHOW SINGLE</h2>


<p><%= allData.chore%></p>
<p><%= allData.description%></p>
<p><%= allData.status%></p>


<div>

<% include ./partials/end.ejs %>
